*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,
body {
    height: 100px;
    width: 100px;
}
#main {
    position: relative;
    overflow: hidden;
}
#page {
    height: 100vh;
    width: 100vw;
    background-color:indianred;
}
#page1{
    height:100vh;
    width: 100dvw;
    background-color:indigo;
}
#page2 {
    height: 100vh;
    width: 100vw;
    background-color: greenyellow;
}
#page3 {
    height: 100vh;
    width: 100vw;
    background-color:rgba(241, 168, 20, 0.966);
}
canvas{
    position: relative;
    z-index:10 ;
    max-width: 100vh;
    max-height: 100vw;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.folded-image {
    width: 700px;
    aspect-ratio: 1.92;
    display: flex;
    cursor: pointer;
}

span {
    flex: 1;
    height: 100%;
    background-image: url('a.jpg');
    background-size: cover;
    transition: 0.5s ease-in-out;
}

.folded-image:hover span {
   transform: perspective();
}

